<div class='o-wrapper'>
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--2-3-m'>
        <article class='c-post'>
  
          <div class='c-content article'>
            {{ if (fileExists "/layouts/partials/ads/above-content.html") -}}
              {{ partial "ads/above-content.html" . }}
            {{ end }}
            {{ .Content | htmlUnescape | safeHTML }}
          </div>
  
          <div class='o-grid'>
            <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--3-4-l'>
              <div class='c-tags'>
                {{ with .Params.categories }}
                    <a href='{{index . 0 | urlize}}'> {{index . 0}}</a>
                {{end}}
              </div>
            </div>
            <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-4-m o-grid__col--1-4-l'>
              {{ partial "single/share-box.html" . }}
            </div>
          </div>
          <hr>
          {{ partial "single/disqus.html" . }}
        </article>
      </div>
          {{ partial "sidebar/index.html" . }}
    </div>
  </div>